//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 07 20:47:02 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SEL" LOCATE = SITE "P121" LEVEL 1;
COMP "A" LOCATE = SITE "P142" LEVEL 1;
COMP "B" LOCATE = SITE "P138" LEVEL 1;
COMP "Q" LOCATE = SITE "P97" LEVEL 1;
SCHEMATIC END;

